<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Matteo Bucci's personal page">
<meta name="author" content="Matteo Bucci">
<meta name="keywords" content="developer, computer engineer, roommate, app development, software engineer"/>
